<html>

    <h1>Twitter bot predictor</h1>
    <h2>Please enter your twitter account measurements below:</h2>
    <form method="POST">
        <input id="csrf_token" name="csrf_token" type="hidden" value="cNrKZARNyYCxma8hgFNqJXE8fUVEb9v4nXtV">
        <label for="account_age">Account Age</label>
        <input id="account_age" name="account_age" type="text" value="">
        <br>
        <label for="no_follower">Number of Followers Width</label>
        <input id="no_follower" name="no_follower" type="text" value="">
        <br>
        <label for="no_following">Number Following</label> 
        <input id="no_following" name="no_following" type="text" value="">
        <br>
        <label for="no_tweets">Number of Tweets</label>
        <input id="no_tweets" name="no_tweets" type="text" value="">
        <br>
        <input id="submit" name="submit" type="submit" value="Analyze">
    </form>
</html>