<html>

    <h1>Twitter bot predictor</h1>
    <h2>Please enter your twitter account statistics below:</h2>
    <form method="POST">
        <input id="csrf_token" name="csrf_token" type="hidden" value="cNrKZARNyYCxma8hgFNqJXE8fUVEb9v4nXtV">
        {{form.account_age.label}}: {{form.account_age}}
        <br>
        {{ form.no_follower.label}}: {{form.no_follower}}
        <br>
        {{form.no_following.label}}: {{form.no_following}}
        <br>
        {{form.no_tweets.label}}: {{form.no_tweets}}
        <br>
        {{form.no_retweets.label}}: {{form.no_retweets}}
        <br>
        {{form.submit()}}
    </form>
</html>